<h1>Tüm Tweetler</h1>

<button type="button" class="btn btn-danger"><%= link_to "Yeni Tweet", new_tweet_path %></button>

</br>

<% @tweets.each do |tweet|%>
    <div class="card" style="float:left;">
        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
            <div class="card-body">
                    <h4 class="card-title"><%=tweet.title%></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%tweet.id%></h6>
                    <p class="card-text"><%=tweet.body%></p>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-info"><%= link_to "Göster", tweet %></button>
                            <button type="button" class="btn btn-info"><%= link_to "Düzenle", tweet %></button>
                            <button type="button" class="btn btn-danger"><%= link_to "Sil", tweet %></button>
                        </div>   
            </div>
        </div>
    </div>

<% end %>